body {
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Bradley Hand', cursive;
    margin: 0;
    padding: 2% 0 0;
}

#instruction {
    text-align: center;
    font-family: 'Bradley Hand', cursive;
}

#formContainer {
    background-color: #D3D5D7;
    /* border: 1px solid red; */
}

#form {
    margin: 0 auto;
    padding: 0 0 5% 0;
    width: 90%;
    /* border: 1px solid red; */
}

.formInput {
    margin: 2% 0;
    position: relative;
    /* border: 1px solid purple;  */
}

label {
    display: inline-block;
    width: 20%;
    font-family: 'Bradley Hand', cursive;
    /* border: 1px solid pink;   */
}

.formInput input {
    width: 78%;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: none;
    /* border: 1px solid green;  */
}

#addMemeBtn {
    color: white;
    background-color: #68A8E0;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 120px;
    height: 25px;
    font-size: 15px;
    float: right;
}

#addMemeBtn:hover {
    background-color: #296294;
}

#memesArea {
    width: 80%;
    margin: 3% auto;
    /* border: 1px solid black; */
}

.memeBlock {
    display: inline-block;
    width: 45%;
    margin: 3% 2%;
    vertical-align: top;
    /* border: 1px solid red; */
}

.imgTextDiv {
    max-width: 100%;
    margin: 0;
    position: relative;
    /* border: 1px solid blue; */
}

.img {
    max-width: 100%;
}

.text {
    font-family: 'Jazz LET', fantasy;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font-size: 3vw;
    max-width: 100%;
}

.topText {
    top: 2px;
}

.bottomText {
    bottom: 10px;
}

.deleteBtnDiv {
    margin: 3px auto;
    text-align: center;
}

.deleteBtn {
    margin: 0 auto;
    background-color: #70a89c;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
}

.deleteBtn:hover {
    background-color: #488577;
}